* {
  padding: 0px;
  margin: 0px;
}

body {
  cursor: url("/assets/paw.png"), auto;
  background-color: wheat;
  padding: 20px;
  font-family: Abril Fatface;
}

.background-svg {
  background-image: url("/assets/small-mobile-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */

header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 30px;
}

h1,
p,
.modal-button {
  font-family: Abril Fatface;
  color: white;
}

/* MODALS */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border: 10px solid chocolate;
  border-radius: 40px;
  position: absolute;
  width: 82vw;
  top: 15vh;
  bottom: 5vh;
}

.modal-content {
  padding: 0px 10px;
  text-align: center;
  font-size: 8px;
}

.modal-content h2,
.modal-content p {
  color: chocolate;
  padding-bottom: 25px;
}

.modal-button {
  font-size: 10px;
  padding: 5px 0px;
  background-color: #f4a460;
  border: 5px solid wheat;
  border-radius: 20px;
}

.modal-content button {
  padding: 5px 10px;
}

.modal-button:hover,
.input-button:hover,
.upgrade-img-div {
  cursor: url("/assets/paw.png"), auto;
}

/*  MAIN */

main {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* UPGRADES */

.section-1,
.section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: wheat;
  border-radius: 20px;
  height: 30vh;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7vh;
  font-size: 20px;
  text-align: center;
  color: #f4a460;
}

.upgrade-img-div {
  background-color: transparent;
  border: none;
}

.upgrade-img,
.shop-img {
  height: 45px;
  width: auto;
  margin: 0px 20px;
}

.upgrade-img:active,
.shop-img:active,
.cookie-img:active,
.input-button:active,
.modal-button:active {
  transform: translateY(5px);
}

/* COOKIE AND CAT */

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5vh;
}

.cookie-img {
  height: 200px;
  width: auto;
  padding: 20px 0px 10px 0px;
}

.user-cat {
  height: 110px;
  width: auto;
  padding: 35px 0px 20px 0px;
}

.input-box {
  text-align: center;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  margin-right: 15px;
}

.input-button {
  border: none;
  border-radius: 20px;
  padding: 10px 5px;
  background-color: #fac176;
}

/* MEDIA QUERIES */

/* MOBILE */

@media (min-width: 375px) {
  .modal {
    width: 84vw;
  }
  .modal-content p {
    font-size: 12px;
  }
}

@media (min-width: 414px) {
  .modal {
    width: 86vw;
  }
  .modal-content p {
    font-size: 11px;
  }
  .upgrade-img,
  .shop-img {
    height: 60px;
  }
}

/* TABLET */

@media (min-width: 470px) {
  h1 {
    font-size: 48px;
  }
  .modal-button {
    font-size: 16px;
  }
  h2 {
    font-size: 32px;
  }
  .upgrade-img,
  .shop-img {
    height: 90px;
    margin: 0px 50px;
  }
  .cookie-img {
    height: 400px;
    padding-top: 40px;
  }
  .user-cat {
    height: 150px;
  }
  .modal {
    width: 92vw;
  }
  .modal-content p {
    font-size: 16px;
  }
}

/* DESKTOP */

@media (min-width: 850px) {
  body {
    height: calc(100vh - 40px);
  }
  main {
    padding: 0px;
    flex-direction: row;
  }
  .modal {
    width: 75vw;
    left: 12%;
  }
  .section-1,
  .section-3 {
    height: 55vh;
    width: 25vw;
    justify-content: space-around;
  }
  .upgrade-img,
  .shop-img {
    height: 75px;
    margin: 0px 20px;
  }
  .cookie-img {
    height: 300px;
    padding-top: 40px;
  }
  .user-cat {
    height: 100px;
  }
}

@media (min-width: 1840px) {
  .background-svg {
    background-image: url("/assets/background-img.svg");
  }
  header {
    height: 20vh;
  }
  h1 {
    font-size: 64px;
  }
  .modal {
    width: 65vw;
    left: 17%;
  }
  .modal-content {
    padding: 0px 100px;
  }
  .modal-content p {
    font-size: 20px;
  }
  .modal-button {
    padding: 5px 10px;
  }
  main {
    height: 76vh;
  }
  .upgrade-img,
  .shop-img {
    height: 100px;
    margin: 0px 40px;
  }
  .cookie-img {
    height: 400px;
    padding-bottom: 40px;
  }
  .user-cat {
    height: 110px;
  }
}

@media (min-width: 2150px) {
  h1 {
    font-size: 88px;
  }
  .modal-content p {
    font-size: 32px;
  }
  .cookie-img {
    height: 500px;
  }
  p,
  .modal-button {
    font-size: 24px;
  }
  .user-cat {
    height: 150px;
  }
  h2 {
    font-size: 40px;
  }
  .upgrade-img,
  .shop-img {
    height: 150px;
    margin: 0px 40px;
  }
}
