* {
  padding: 0px;
  margin: 0px;
}

body {
  cursor: url("/assets/paw.png"), auto;
  background-color: wheat;
  padding: 20px;
  font-family: Abril Fatface;
}

.background-svg {
  background-image: url("/assets/background-img.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* HEADER */

header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 64px;
  padding-top: 50px;
}

h1,
p,
.modal-button {
  font-family: Abril Fatface;
  color: white;
}

/* MODALS */
.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  border: 10px solid chocolate;
  border-radius: 40px;
  position: absolute;
  width: 55vw;
  top: 130px;
  left: 22.5vw;
  bottom: 130px;
}

.modal-content {
  padding: 0px 100px;
  text-align: center;
  font-size: 20px;
}

.modal-content h2,
.modal-content p {
  color: chocolate;
  padding-bottom: 25px;
}

.modal-button {
  padding: 5px 10px;
  background-color: #f4a460;
  border: 5px solid wheat;
  border-radius: 20px;
}

.modal-button:hover,
.input-button:hover,
.upgrade-img-div {
  cursor: url("/assets/paw.png"), auto;
}

/*  MAIN */

main {
  padding: 2vh 2vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 71vh;
}

/* UPGRADES */

.section-1,
.section-3 {
  height: 48vh;
  width: 18vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: wheat;
  padding: 25px;
  border-radius: 60px;
}

h2 {
  width: 100%;
  text-align: center;
  color: #f4a460;
}

.price-tag {
  height: 75px;
}

.upgrade-img-div {
  background-color: transparent;
  border: none;
}

.upgrade-img,
.shop-img {
  height: 100px;
  width: auto;
  margin: 0px 20px;
}

.upgrade-img:active,
.shop-img:active,
.cookie-img:active,
.input-button:active,
.modal-button:active {
  transform: translateY(5px);
}

/* COOKIE AND CAT */

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-img {
  height: 400px;
  width: auto;
  padding-bottom: 40px;
}

.user-cat {
  height: 110px;
  width: auto;
  padding: 35px 0px 20px 0px;
}

.input-box {
  text-align: center;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  margin-right: 15px;
}

.input-button {
  border: none;
  border-radius: 20px;
  padding: 10px 5px;
  background-color: #fac176;
}

/* MEDIA QUERIES */
